{% extends "base.html.twig" %}

{% block title %}Afficher Produits
{% endblock %}

{% block body %}
    <div class="container shadow mt-5 p-3 bg-dark">
        <div class="text-center">
            <h2 class="text-warning">NOS PRODUITS</h2>
            <a href="{{ path('app_produits_api') }}" class="btn btn-warning mt-3">API</a>
        </div>
        <div class="row">
            {% for produit in produits %}
                <div class="col-md-3 col-sm-12 mt-5">
                    <div class="card h-100 mt-3 rounded">
                        <h5 class="text-info text-center">{{ produit.produitNom }}</h5>
                        <div class="p-3 rounded">
                            {% for image in produit.images %}
                                <img src="{{ asset('img/produits/' ~ image.imagePath) }}"
                                     title="{{ produit.produitNom }}"
                                     class="img-fluid mt-3" width="25%"
                                     alt="{{ produit.produitNom }}"/>
                            {% endfor %}
                        </div>
                        <div class="card-body">

                            <p class="text-success">
                                PRIX : {{ (produit.produitPrix / 100)|number_format(2, ',', ' ') }} €
                            </p>
                            <em class="text-warning">Propriétaire : {{ produit.user.email }}</em>
                            <a href="{{ path('app_produits_show', {id: produit.id}) }}" class="btn btn-warning mt-3">
                                Plus d'infos
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
